importFrom(graphics, barplot)
export(barplot.archetypes)
S3method(print, archetypes)
importFrom(stats, fitted)
S3method(fitted, archetypes)
importFrom(modeltools, parameters)
importFrom(stats, coef)
S3method(coef, archetypes)
importFrom(stats, residuals)
S3method(residuals, archetypes)
export(rss)
S3method(rss, archetypes)
importFrom(stats, weights)
S3method(weights, archetypes)
S3method(kappa, archetypes)
S3method(predict, archetypes)
export(nparameters)
S3method(nparameters, archetypes)
export(atypes)
S3method(atypes, archetypes)
S3method(atypes, stepArchetypes)
S3method(atypes, repArchetypes)
export(ntypes)
S3method(ntypes, stepArchetypes)
S3method(ntypes, repArchetypes)
export(adata)
S3method(adata, archetypes)
export(alphas)
S3method(alphas, archetypes)
export(betas)
S3method(betas, archetypes)
export(iters)
S3method(iters, archetypes)
export(ahistory)
S3method(ahistory, archetypes)
export(nhistory)
S3method(nhistory, archetypes)
export(archetypesFamily)
export(archetypes)
export(movieplot)
export(movieplot2)
export(moviepcplot)
export(panorama)
S3method(panorama, archetypes)
S3method(pcplot, archetypes)
export(robustArchetypes)
importFrom(stats, screeplot)
S3method(screeplot, stepArchetypes)
export(stepArchetypes)
S3method("[", stepArchetypes)
S3method(print, stepArchetypes)
S3method(summary, stepArchetypes)
S3method(nparameters, stepArchetypes)
S3method(rss, stepArchetypes)
export(bestModel)
S3method(bestModel, stepArchetypes)
S3method(print, repArchetypes)
S3method(rss, repArchetypes)
S3method(nparameters, repArchetypes)
S3method(bestModel, repArchetypes)
export(weightedArchetypes)
export(xyplot)
export(xyplot.archetypes)
S3method(xyplot, weightedArchetypes)
S3method(xyplot, robustArchetypes)
S3method(xyplot, stepArchetypes)
export(xyplot.stepArchetypes)
export(new.memento)
export(pcplot)
S3method(pcplot, default)
export(skeletonplot)
export(jd)
