importFrom(graphics, barplot)
export(barplot.archetypes)
export(as.archetypes)
S3method(print, archetypes)
export(atypes)
S3method(atypes, archetypes)
export(ntypes)
S3method(ntypes, archetypes)
export(rss)
S3method(rss, archetypes)
export(adata)
S3method(adata, archetypes)
export(alphas)
S3method(alphas, archetypes)
export(iters)
S3method(iters, archetypes)
export(ahistory)
S3method(ahistory, archetypes)
export(nhistory)
S3method(nhistory, archetypes)
S3method(kappa, archetypes)
export(archetypesFamily)
export(archetypes)
export(movieplot)
export(moviepcplot)
S3method(pcplot, archetypes)
export(plot.archetypes)
export(plot.stepArchetypes)
importFrom(stats, screeplot)
S3method(screeplot, stepArchetypes)
export(stepArchetypes)
S3method("[", stepArchetypes)
S3method(print, stepArchetypes)
S3method(summary, stepArchetypes)
S3method(atypes, stepArchetypes)
S3method(ntypes, stepArchetypes)
S3method(rss, stepArchetypes)
S3method(iters, stepArchetypes)
export(bestModel)
S3method(bestModel, stepArchetypes)
S3method(print, repArchetypes)
S3method(atypes, repArchetypes)
S3method(rss, repArchetypes)
S3method(ntypes, repArchetypes)
S3method(iters, repArchetypes)
S3method(bestModel, repArchetypes)
export(pcplot)
S3method(pcplot, default)
export(skeletonplot)
export(jd)
