import(nnls)
import(methods)
export(archetypes)
export(archetypesFamily)
export(archmap)
export(as.archetypes)
export(atypes_projection)
export(bestModel)
export(jd)
export(moviepcplot)
export(movieplot)
export(movieplot2)
export(nparameters)
export(panorama)
export(pcplot)
export(robustArchetypes)
export(rss)
export(simplex_projection)
export(skeletonplot)
export(stepArchetypes)
export(tspsimplex_projection)
export(weightedArchetypes)
export(xyplot)
exportMethods(parameters)
importFrom(graphics,barplot)
importFrom(modeltools,parameters)
importFrom(stats,coef)
importFrom(stats,fitted)
importFrom(stats,residuals)
importFrom(stats,screeplot)
importFrom(stats,weights)
S3method("[",stepArchetypes)
S3method(barplot,archetypes)
S3method(bestModel,repArchetypes)
S3method(bestModel,stepArchetypes)
S3method(coef,archetypes)
S3method(fitted,archetypes)
S3method(kappa,archetypes)
S3method(nparameters,archetypes)
S3method(nparameters,repArchetypes)
S3method(nparameters,stepArchetypes)
S3method(panorama,archetypes)
S3method(pcplot,archetypes)
S3method(pcplot,default)
S3method(predict,archetypes)
S3method(print,archetypes)
S3method(print,repArchetypes)
S3method(print,stepArchetypes)
S3method(residuals,archetypes)
S3method(rss,archetypes)
S3method(rss,repArchetypes)
S3method(rss,stepArchetypes)
S3method(screeplot,stepArchetypes)
S3method(summary,stepArchetypes)
S3method(weights,archetypes)
S3method(xyplot,archetypes)
S3method(xyplot,robustArchetypes)
S3method(xyplot,stepArchetypes)
S3method(xyplot,weightedArchetypes)
